<div class="flexLayout flexDirectionColumn" style="width: 100%">
    <div class="flexLayout flexAlignCenter" style="justify-content: center;">
        <div class="marginRight1 marginBottom0_5" style="flex-grow: 0; flex-shrink: 0">
            <i ng-if="component._state.alarmValue == true" style="color: orange"
               class="fa fa-warning fa-2x" aria-hidden="true"></i>&nbsp;
        </div>
        <div *ngIf="component._state"
            class="marginRight1 marginBottom0_5" style="flex-grow: 0; flex-shrink: 0">
            <span *ngIf="component._state.presentValue" 
                  class="lighterSecondaryColor"
                  style="font-size: 2em;">{{component._state.presentValue | number:'1.2-2'}} </span>
            <span *ngIf="component._state.unit != ''"
                  style="font-size: 2em;"
                  class="lighterSecondaryColor ">{{component._state.unit ? component._state.unit : component.configuration.unit}}</span>
        </div>
    </div>
</div>
