<style>

.ti-analog-value .ti-slider ::ng-deep .mbsc-slider.mbsc-progress {
  width: 100%; /* Full-width */
  padding: 0 8px;
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-input-wrap {
  padding: 0;
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-progress-cont  {
  height: 6px!important;
  padding: 0;
  width: calc(100% - 25px);
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-progress-track  {
  height: 4px!important;
  padding: 0 1px;
  width: calc(100% + 25px);
  background-color: rgba(0, 0, 0, 0.26);
  position: relative;
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-progress-bar  {
  height: 6px!important;
  background-color: #82b0e0;
  position: absolute;
  top: -1px;
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-slider-handle-cont  {
  top: 3px;
  margin-top: -11px;
  margin-left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
}

.ti-analog-value .ti-slider ::ng-deep .mbsc-slider-handle  {
  top: 0;
  right: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px #195793 solid!important;
  transform: scale(1);
}
</style>

<div *ngIf="component?._state" class="ti-analog-value flexLayout flexDirectionColumn flexAlignCenter flexJustifyCenter flexGrow1">
    <div class="marginRight1 marginBottom0_5" style="flex-grow: 0; flex-shrink: 0">
        <i *ngIf="component._state.alarmValue == true" style="color: orange"
           class="fa fa-warning fa-2x" aria-hidden="true"></i>&nbsp;
    </div>
    <div class="marginRight1 marginBottom0_5" style="flex-grow: 0; flex-shrink: 0">
      <span *ngIf="component._state.unit !== ''"
            class="lighterSecondaryColor ">{{component._state.presentValue | number:'1.2-2'}} {{component._state.unit ? component._state.unit : ''}}</span>
    </div>
    <div class="marginLeft0_5 flexGrow1" style="width: 100%; padding: 0 10px;">
      <mbsc-slider name="ti-slider"
        class="ti-slider"
        [min]="component._state.min ? component._state.min: component.configuration.min"
        [max]="component._state.max ? component._state.max: component.configuration.max"
        live="false"
        [(ngModel)]="component._state.presentValue"
        (change)="panel.callActorService(component, 'changeValue', {value: component._state.presentValue} )"></mbsc-slider>
    </div>
  </div>