<div class="flexLayout flexDirectionColumn" style="width: 100%">
    <div class="flexLayout flexAlignCenter" style="justify-content: center;">
        <div class="marginRight1 marginBottom0_5" style="flex-grow: 0; flex-shrink: 0">
            <i *ngIf="component._state.alarmValue == true" style="color: orange"
               class="fa fa-warning fa-2x" aria-hidden="true"></i>&nbsp;
        </div>

        <select [(ngModel)]="component._state.presentValue"
                (change)="panel.callActorService(component, 'setPresentValue', {value: component._state.presentValue})">
            <option *ngFor="let state of component._state.stateText; let i = index" [value]="i + 1">{{state}}</option>
        </select>
    </div>
</div>